body {
    font-family: Tahoma;
}

header {
    background-color: #0f8387;
    text-align: center;
    border-bottom: 4px solid black;
    margin: 10px;
    margin-bottom: 20px ;
    padding-top: 5px;
    padding-bottom: 20px;
}

a {
    color: white;
}

main {
    border: 4px solid #0f8387;
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    padding: 10px;
}

h1 {
    text-align: center;
    border-bottom: 2px solid #0f8387;
    margin: 30px;
    margin-bottom: 55px;
    padding: 10px;
}

h1, h2, h3 {
    color: #0f8387;
    text-transform: uppercase;
}

section {
    border: 2px solid #0f8387;
    margin: 20px;
    padding: 10px;
}

#edito {
    border: 4px dashed #58af66;
    background-color: lightgrey;
    padding: 15px;
}

p {
    text-align: justify;
}

footer {
    background-color: #0f8387;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    border-bottom: 4px solid black;
    margin: 10px;
    margin-top: 30px;
    padding: 30px;
}
