h1,h2 {
    color: rgb(91, 12, 165);
    text-align: center;
}

section {
    border: 2px dashed darkred;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
}

#intro {
    color: hotpink;
}

#corps {
    background-color: rgb(255, 235, 235);
}

.highlight {
    background-color: lightskyblue;
}