body {
    font-family: Tahoma;
}

header {
    display: flex;
    align-items: center;
    margin: 20px;
}

header img {
    width: 80px;
}

#search {
    border: solid 2px #81dd90;
    margin-left: 40px;
    padding: 10px;
}

.button {
    background-color: #11999e;
    border: solid 2px #81dd90;
    color: white;
    text-transform: uppercase;
    padding: 10px;
}


nav ul {
    background-color: #11999e;
    display: flex;
    justify-content: center;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

#mainNav ul {
    text-transform: uppercase;
    font-size: 20px;
    padding: 20px;
    gap: 40px;
}

#mainNav a:hover {
    background-color: white;
    padding: 20px;
    color: #11999e;
}

main {
    text-align: center;
}

h1, h2, h3 {
    text-transform: uppercase;
    text-align: center;
    color: #81dd90;
}



#latest-books h2, #contact h2 {
    margin-top: 40px;
    padding-top: 55px;
    border-top: solid 2px #81dd90;
    width: 100%;
}

#latest-books img {
    height: 300px;
}



#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact form {
    width: 500px;
    text-align: left;
}

#topic, #message {
    width: 100%;
}



#categories {
    background-color: #11999e;
    padding: 30px;
}

#categories h2 {
    color: white;
}

#categories nav ul {
    padding-bottom: 10px;
    gap: 20px;
}

#categories nav a {
    text-decoration: underline;
}



#subscription {
    margin: 20px;
}

#email {
    border: solid 2px #81dd90;
    padding: 10px;
    padding-right: 150px;
}



footer {
    background-color: #11999e;
    color: white;
}

#footer-top {
    padding: 15px;
}

#footer-top ul {
    display: flex;
    justify-content: left;
    gap: 20px;
}

#footer-bottom {
    padding: 10px;
    text-align: center;
}

#footer-bottom ul {
    gap: 20px;
    padding: 0;
}